*{
    margin: 0;
    

}




body {

    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
}

.section-header {
    background-color: #b7d1ea;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
    margin-top: 25px;
}

img {
    float: right;
    width: 300px;
    margin-left: 80px;
    height: 300px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid black;
    padding: 6px;
}

th {
    background-color: #e6eaf0;
}

.subheader th {
    background-color: #d6e2f0;
}
